/*Espaço acima do header 
  Space above the header
*/
.home-above-header-spacing {
  height: var(--space-s);
}

/*Espaço abaixo do header 
  Space below the header
*/
.home-below-header-spacing {
  height: var(--space-xl);
}

/*Espaço abaixo do título de destaque 
  Space below the featured title
*/
.home-below-featured-title {
  height: var(--space-s);
}

/*Espaço abaixo do subtítulo
  Space below the subtitle
*/
.home-below-subtitle {
  height: var(--space-xxl);
}

.home-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  margin-bottom: 80pt;
}

h1 {
  font-weight: 400;
}
.home-tilte1 {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  color: var(--dark-grey);
  margin: var(--reset-space);
}
.home-tilte2 {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  color: var(--blue-vibrant);
  margin: var(--reset-space);
}
.subtitle {
  font-weight: 500;
  margin: var(--reset-space);
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  color: var(--grey);
}

/*Other sections*/

.about-section {
  min-height: 100vh;
  width: 100%;
  margin-top: 80pt;
}

.faqs-section {
  min-height: 100vh;
  width: 100%;
  margin-top: 80pt;
}

.contact-section {
  min-height: 100vh;
  width: 100%;
  margin-top: 50pt;
  margin-bottom: -30pt;
  border-radius: 20px 20px 0 0;
}

.footer-section {
  min-height: 3vh;
  margin-top: 30pt;
}