/*Espaço acima do header 
  Space above the header
*/
.home-above-header-spacing {
  height: var(--space-s);
}

/*Espaço abaixo do header 
  Space below the header
*/
.home-below-header-spacing {
  height: var(--space-xl);
}

/*Espaço abaixo do título de destaque 
  Space below the featured title
*/
.home-below-featured-title {
  height: var(--space-s);
}

h1 {
  margin: var(--reset-space);;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--dark-grey);
}
.featured-title {
  font-weight: bold;
  color: var(--dark-grey);
}
.subtitle {
  margin: var(--reset-space);
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: var(--dark-grey);
}