.footer-content {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 25px 130pt 30px 130pt;
  height: 35vh;
}

.footer-logo-container a {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  gap: 5pt;
  color: inherit;
}
.footer-logo-container a:hover {
  opacity: 0.8;
}
.footer-logo-image {
  width: 42px;
  height: 42px;
  margin: 0;
}
.footer-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: 9px;
}
.slogan-footer {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  margin: 0;
  text-align: left;
  align-items: flex-start;
  color: var(--dark-grey);
}
.footer-logo {
  display: flex;
  flex-wrap: nowrap;
  line-height: 1;
  all: unset;
  flex-direction: row;
}
.footer-logo .footer-vibra {
  font-size: 16px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1px;
  Line-height: 1.4;
  align-items: center;
  display: inline-block;
  color: var(--dark-grey);
}
.footer-logo .footer-liste {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
  align-items: center;
  display: inline-block;
  Line-height: 1.4;
  color: var(--dark-grey);
}
.footer-social-media-area {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  right: 0;
  text-align: center;
  margin-right: 130pt;
  padding-top: 10px;
}
.footer-social-media {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-size: 22px;
  color: var(--blue-vibrant);
  transition: transform .3s;
}
.social-media-links {
  display: flex;
  justify-content: flex-end;
  Font-weight: 500;
  Font-size: 16px;
  Letter-spacing: 0.5px;
  Line-height: 1.4;
  padding-bottom: 10px;
  color: var(--black);
}
.dribbble-icon a, .github a {
  text-decoration: none;
  color: inherit;
}
.dribbble-icon, .github {
  cursor: pointer;
}
.dribbble-icon:hover, .github:hover {
  color: var(--blue-vibrant);
  opacity: 50%;
  transform: scale(0.95);
}
.inspiring-phrase {
  Font-size: 14px;
  Font-weight: 500px;
  Letter-spacing: 0.5px;
  Line-height: 1.4;
  color: var(--dark-grey);
}

.nav {
  display: flex;
}
.nav-list-footer {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24pt;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
}
.nav-list-footer a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.5px;
  line-height: 1.4;
}
.nav-list-footer li a {
  color: var(--dark-grey);
  transition: ease 0.3s;
}
.nav-list-footer li a:hover {
  color: var(--blue-vibrant);
}
.nav-item-footer {
  position: relative;
  color: var(--dark-grey);
  text-decoration: none;
}
.nav-item-footer.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue-vibrant);
  transition: width 0.3s ease;
}
.nav-item-footer:hover::after {
  width: 100%;
}

.footer-github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform .3s;
  
}
.footer-github-link:hover {
  transform: scale(0.95);
}
.footer-github-link:hover,
.footer-github-link:focus {
  text-decoration: none;
  color: inherit;
}
.footer-github-space {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-github-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-vibrant);
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
}
.footer-contribute-subtitle {
  text-decoration: none;
  color: var(--white);
}
.footer-github-color:hover .footer-contribute-subtitle,
.footer-github-link:hover .footer-contribute-subtitle,
.footer-github-space:hover {
  opacity: 90%;
}

.footer-all-rights {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black) ;
  height: 12.2vh;
  padding: 0 130pt 0 130pt;
}
.footer-all-rights::before {
  content: "";
  position: absolute;
  top: 0;
  left: 130pt;
  right: 130pt;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
}
.footer-all-rights p.footer-vibralisten, 
.footer-rigth {
  font-size: 14px;
  Font-weight: 400px;
  Letter-spacing: 0.5px;
  Line-height: 1.4;
  color: var(--black);
} 
.footer-left {
  display: flex;
  align-items: center;
}
.footer-center {
  display: flex;
  align-items: center;
}
.footer-rights {
  flex: 1;
  text-align: center;
}
.footer-terms {
  padding-left: 20px;
  color: #444444;
}
.footer-privacy, 
.footer-terms {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  transition: transform .3s ease-in-out;
}
.footer-terms:hover,
.footer-privacy:hover {
  text-decoration: underline;
  transform: scale(0.95);
  color: var(--dark-grey);
}
.footer-icon-terms {
  color: var(--dark-grey);
  align-items: center;
  justify-content: center;
  width: 11.5px;
  height: 11.5px;
  margin-right: 3px;
}
.footer-logo-short {
  width: 52px;
  height: 52px;
}