.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--blue-vibrant);
  color: var(--white);
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top:hover {
  background: var(--blue-vibrant);
}