.container-box {
  position: relative;
}
#input-link {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 50px;
  padding: 20px;
  padding-right: 250px;
  letter-spacing: 0.5px;
  height: 50px;
  z-index: 1;
}
#input-link:hover,
#input-link:focus {
  outline: none;
  border: 2px solid var(--blue-vibrant);
  box-shadow: 0 0 10px rgba(61, 84, 204, 0.4);;
}
.bnt {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 26px;
  border-radius: 25px;
  background-color: var(--blue-vibrant);
  border: 2px solid var(--blue-vibrant);
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  width: 22%;
  font-size: 16px;
  letter-spacing: 0.19em;
  line-height: 1.2;
  font-weight: bold;
  color: var(--white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: all .3s ease-in-out;
  z-index: 2;
}
.bnt:hover {
  background-color: #2b3ea1;
  border: 2px solid #2b3ea1;
  box-shadow: 0 6px 14px rgba(61, 85, 204, 0.25);
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(61, 85, 204, 0.5);
}
.box {
  width: 100%;
  padding: 24px;
  border: 2px solid var(--light-grey2);
  border-radius: 4px;;
  box-sizing: border-box;
  background-color: var(--light-blue-grey2);
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.link-box {
  height: 56px;
  font-size: 16px;
  color: var(--dark-grey);
  background-color: rgba(220, 224, 245, 0.7);
  border-radius: 12px;
  transition: all .3s ease-in-out;
}
.link-box::placeholder {
  color: var(--grey);
  opacity: 0.9;
  font-size: 15px;
  font-weight: 500;
}
.link-box:focus {
  outline: none;
  border: 2px solid var(--blue-vibrant);
  background-color: rgba(220, 224, 245, 0.9);
  box-shadow: 0 0 10px rgba(61, 84, 204, 0.4);;
}
.spacing-between-link-box-btn {
  height: var(--space-s);
}