main {
  min-height: 100vh;
  width: 100%;
  padding-left: var(--global-margin-left);
  padding-right: var(--global-margin-right);
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
}

ul.titles {
 list-style: none;
 counter-reset: contador;
 padding-left: 0;
}
ul.titles li {
  counter-increment: contador;
  margin-bottom: 5px;
}
ul.titles li::before {
  content: counter(contador) ". ";
  font-weight: bold;
  color: black;
}

.service-topcs {
  padding-left: 24.5px;
}