.about-section {
  min-height: 100vh;
  width: 100%;
 
}

.container-benefits {
  padding: 40px 0;
  text-align: center;
}
.title-bnfts {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}


.wrapper {
  position: relative;
  display: inline-block;
}

.big-title {
  font-size: 120px;
  font-weight: bold;
  color: var(--light-grey);
}
.overlay-vibra-word,
.overlay-liste-word,
.overlay-bold-n {
  position: absolute;
  z-index: 1;
  font-size: 36px;
  color: var(--dark-grey);
}
.overlay-liste-word {
  font-weight: 400;
  top: 55%;
  left: 48.5%;
  transform: translate(-50%, -50%);
}
.overlay-vibra-word {
  font-weight: bold;
  top: 55%;
  left: 22.5%;
  transform: translate(-50%, -50%);
}
.overlay-bold-n {
  font-weight: bold;
  top: 55%;
  left: 63.2%;
  transform: translate(-50%, -50%);
}

.body-text {
  text-align: left;
}
.body-text p {
  font-size: 18px;
  line-height: 1.6;
  padding-right: 200px;
}