/* 
  ===========================================================
  Project: VibraListen (Youtube to MP3 Converter)
  Author: Lodney Santos
  Creation Date: 06/01/2025
  Latest Update: 26/01/2025
  Description: This is a full-stack web app that converts 
             YouTube videos to MP3. The backend uses 
             Node.js with Express for video download and 
             conversion, while the frontend provides an 
             interface to input links and download MP3 files.
  ===========================================================
*/

:root {
  --azul-vibrante: #3d55cc;
  --cinza-escuro: #141a33;
  --cinza: #505673;
  --cinza-leve: #dadef2;
  --cinza-claro: #f5f6fa;
  --branco: #FFFFFF;
}

/* Garantir que todos os elementos comecem do mesmo ponto.
   Ensure that all elements start from the same point.
   RESET.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  margin-left: 80pt;
  margin-right: 80pt;
  font-family: "Poppins", sans-serif;
}

/*Espaço acima do header 
  Space above the header
*/
.home-above-header-spacing {
  height: 24pt;
}

/*Espaço abaixo do header 
  Space below the header
*/
.home-below-header-spacing {
  height: 80pt;
}
