/* 
  ===========================================================
  Project: VibraListen (Youtube to MP3 Converter)
  Author: Lodney Santos
  Creation Date: 06/01/2025
  Latest Update: 26/01/2025
  Description: This is a full-stack web app that converts 
             YouTube videos to MP3. The backend uses 
             Node.js with Express for video download and 
             conversion, while the frontend provides an 
             interface to input links and download MP3 files.
  ===========================================================
*/

:root {
  /* Paleta de cores
  Colour palette
  */
  --azul-vibrante: #3d55cc;
  --cinza-escuro: #141a33;
  --cinza: #505673;
  --cinza-leve: #dadef2;
  --cinza-claro: #f5f6fa;
  --branco: #FFFFFF;

  /* Espaçamentos 
  Spacing
  */
  --space-xs: 8pt;
  --space-s: 16pt;
  --space-m: 24pt;
  --space-l: 32pt;
  --space-xl: 48pt;
  --space-xxl: 80pt;
  --reset-space: 0;

  /* Tipografia 
  Typography
  */
}


/* Garantir que todos os elementos comecem do mesmo ponto.
   Ensure that all elements start from the same point.
   RESET.
*/
* {
  margin: var(--reset-space);
  padding: var(--reset-space);
  box-sizing: border-box;
}

.body {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
  font-family: "Poppins", sans-serif;
}

/*Espaço acima do header 
  Space above the header
*/
.home-above-header-spacing {
  height: var(--space-s);
}

/*Espaço abaixo do header 
  Space below the header
*/
.home-below-header-spacing {
  height: var(--space-xxl);
}

/*Espaço abaixo do conteúdo 
  Space below the content
*/
.home-below-content {
  height: var(--space-m);
}
