/* 
  ===========================================================
  Project: VibraListen (Youtube to MP3 Converter)
  Author: Lodney Santos
  Creation Date: [Data]
  Latest Update: [Data]
  Description: This is a full-stack web app that converts 
             YouTube videos to MP3. The backend uses 
             Node.js with Express for video download and 
             conversion, while the frontend provides an 
             interface to input links and download MP3 files.
  ===========================================================
*/

/* Garantir que todos os elementos comecem do mesmo ponto.
   Ensure that all elements start from the same point.
   RESET.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  margin-left: 107px;
  margin-right: 107px;
}

/* Definição do layout grid 
Definition of the grid layout
*/
.container-overview {
  margin-left: 107px;
  margin-right: 107px;
}

/*Espaço acima do header 
  Space above the header
*/
.home-above-header-spacing {
  height: 55px;
}

/*Espaço abaixo do header 
  Space below the header
*/
.home-below-header-spacing {
  height: 107px;
}
