.faqs-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.faqs-title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  position: relative;
}
.faqs-title::after {
  content: "";
  display: block;
  width: 180px;
  height: 4px;
  background-color: var(--blue-vibrant);
  position: absolute;
  bottom: -20px;
  right: 34%;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}
.faq-question {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
.faq-answer .open {
  max-height: 200px;
  opacity: 1;
}