.faqs-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.faqs-title {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  position: relative;
}
.faqs-title::after {
  content: "";
  display: block;
  width: 180px;
  height: 4px;
  background-color: var(--blue-vibrant);
  position: absolute;
  bottom: -20px;
  right: 34%;
}
